/* _content/StudyHelper/Views/Shared/_Layout.cshtml.rz.scp.css */
:root[b-iw1h3uh63x] {
  --dark-primary: #0d1b2a;
  --dark-secondary: #1b263b;
  --dark-accent: #415a77;
  --dark-text: #e0e1dd;
  --dark-highlight: #778da9;
}

body[b-iw1h3uh63x] {
  background-color: var(--dark-secondary);
  color: var(--dark-text);
}

a.navbar-brand[b-iw1h3uh63x] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: var(--dark-highlight) !important;
}

a[b-iw1h3uh63x] {
  color: var(--dark-highlight);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover[b-iw1h3uh63x] {
  color: var(--dark-text);
}

.btn-primary[b-iw1h3uh63x] {
  color: var(--dark-text);
  background-color: var(--dark-accent);
  border-color: var(--dark-primary);
  transition: all 0.3s ease;
}

.btn-primary:hover[b-iw1h3uh63x] {
  background-color: var(--dark-primary);
  border-color: var(--dark-highlight);
}

.nav-pills .nav-link.active[b-iw1h3uh63x], .nav-pills .show > .nav-link[b-iw1h3uh63x] {
  color: var(--dark-text);
  background-color: var(--dark-accent);
  border-color: var(--dark-primary);
}

.border-top[b-iw1h3uh63x] {
  border-top: 1px solid var(--dark-accent);
}
.border-bottom[b-iw1h3uh63x] {
  border-bottom: 1px solid var(--dark-accent);
}

.box-shadow[b-iw1h3uh63x] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

button.accept-policy[b-iw1h3uh63x] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iw1h3uh63x] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: var(--dark-primary);
  color: var(--dark-text);
}

.navbar[b-iw1h3uh63x] {
  background-color: var(--dark-primary) !important;
  border-bottom: 1px solid var(--dark-accent);
}

.card[b-iw1h3uh63x] {
  background-color: var(--dark-primary);
  border: 1px solid var(--dark-accent);
  color: var(--dark-text);
}
